---
import {menu} from "../data/menu"
---

<!-- <div>no funciona</div>   -->
    <header
        id="landing-header"
        class=" navbar top-0 left-0 text-black flex fixed  w-full font-eras px-6  z-40 flex-row flex-nowrap">


        <nav class="flex-1">
            <ul class="flex [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:inline-block [&>li>a]:py-2 [&>li>a]:px-3 text-[.9rem] text-current whitespace-nowrap">
                { menu.map( (item) => {
                    return <li><a href={item.url}>{item.titulo}</a></li>
                })}
            </ul>

        </nav>
        <nav class="ml-auto  text-[.9rem]">
            <ul class="flex [&>li>a]:inline-block [&>li>a]:py-2 [&>li>a]:px-3 text-[.9rem] text-current">
                <li><a href="#">Login</a></li>
    
            </ul>
        </nav>
    
    <!-- //BACKDROP==== -->
        <div
            id="menu-backdrop"
            class={`
                absolute
                left-[var(--left)] top-[var(--top)] w-[var(--width)] h-[var(--height)]
                transition-all duration-300 ease-in-out mix-blend-plus-lighter
                border-b-2 border-aux opacity-0 -z-10
            `}
        >
    
        </div>
    </header>

<!-- // CON ESTE SCRIPT CONSEGUIMOS EL EFECTO BACKDROP====JS -->
<script>
    const listItem = document.querySelectorAll('#landing-header li')
    const menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement

    listItem.forEach( (item) => {
        item.addEventListener( "mouseenter", () => {
            const { left, top, width, height } = item.getBoundingClientRect()

            menuBackDrop.style.setProperty("--left", `${left}px`)
            menuBackDrop.style.setProperty("--top", `${top}px`)
            menuBackDrop.style.setProperty("--width", `${width}px`)
            menuBackDrop.style.setProperty("--height", `${height}px`)
            menuBackDrop.style.opacity = "1" 
        })
        item.addEventListener( "mouseleave", () =>{
            menuBackDrop.style.opacity = "0" 
        })
    })
</script>

<!-- //CON ESTE SCRIPT CONSEGUIMOS QUE EL SCHROLL DE LA PANTALLA SE IMANTADO===== -->
<script>
    const $header = document.querySelector('#landing-header') as HTMLElement
    const $cinta = document.querySelector('#dil-cinta') as HTMLElement
    const observerOptions = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5,
    }

    const observer = new IntersectionObserver( entries => {
        entries.forEach( entry => {
            const { isIntersecting } = entry
            if ( isIntersecting ) {
                const color = entry.target.getAttribute('data-header-color')
                const bg = entry.target.getAttribute('data-bg')
                const opacidad = entry.target.getAttribute('data-opacity')
                $header.style.color = color
                $cinta.style.background = bg
                $cinta.style.opacity= opacidad
            }
        })
    }, observerOptions )

    const $sections = document.querySelectorAll('.body-section')
    $sections.forEach((section) => observer.observe(section))

</script>


<!-- CON ESTE CÓDIGO QUE NO FUNCIONA DEBERIA MOSTRAR EL MENU========== -->
<script>
    const nav = document.querySelector('#landing-header')
    window.addEventListener('load', () => {
        nav.classList.add('visible')
    })
</script>

<!-- <style>
    .visible{
        transition: all 1s ease;
        transform: translateY(100%);
        pointer-events: all;
    }
    .box{
        transition: all 1s ease;
        transform: translateY(0%);
        pointer-events: none;
    }
    @media screen and ( max-width:640px){
        .visible{
            transform: translateY(0%);
            pointer-events: none;
        }

    }
    @media screen and ( max-width:640px){
        .box{
            transition: all 1s ease;
            transform: translateY(110%);
            pointer-events: all;
        }
    }
</style> -->

<script>
    // Add an event listener to the window to run the `animateNav` function when the page loads
    window.addEventListener("load", animateNav);

    // The `animateNav` function animates the `nav` element to appear in the viewport
    function animateNav() {
    // Get the `nav` element
    const nav = document.querySelector(".navbar");

    // Set the `nav` element's `position` property to `fixed`
    nav.style.position = "fixed";

    // Set the `nav` element's `top` property to `0`
    nav.style.top = "-22PX";

    // Set the `nav` element's `opacity` property to `0`
    nav.style.opacity = "1";

    // Animate the `nav` element's `opacity` property to `1` over a period of 1 second
    nav.animate({
        opacity: "1",
        top: '22px'
    }, 2000);
    nav.style.animationDuration= '0s'
    }

</script>