---
import css from './Carrusel3.module.css'
---

<div class="prueba" id="prueba"></div>
<div class={css.carrusel}>
    <div class={css.grande}>
        <img src="/imagenes/nave.jpg" alt="" class={css.img}>
        <img src="/imagenes/cielo.jpg" alt="" class={css.img}>
    </div>
    <ul class={css.ul}>
        <li class={css.li}></li>
        <li class={css.li}></li>
    </ul>
</div>



<script src="./Carrusel.js"></script>